.posts {
  .container {
    padding: 10px;
    .userinfo {
      display: flex;
      justify-content: space-between;
      .userdata {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        p {
        }
        span {
        }
      }
      .icon {
      }
    }
    .middle {
      width: 100%;
      height: 400px;
      p {
      }
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
