.register {
  background-color: rgb(193, 190, 255);
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  .card {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    display: flex;
    background-color: white;
    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 50px;
      gap: 30px;
      color: white;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 70px;
        line-height: 70px;
      }
      p {
      }
      span {
        font-size: 14px;
      }
      button {
        background-color: white;
        color: purple;
        padding: 10px;
        width: 50%;
        border: none;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      h1 {
        font-size: 40px;
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          outline: none;
        }
        button {
          color: white;
          padding: 10px;
          width: 50%;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
